@import url('style.css');

#checkout-main {
  padding: 0 10vw 15vh;
  /* background-color: #FAF9F8; */
}

.checkout-main-flexbox {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.checkout-left-flexbox {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--secondary-background-color);
}

#my-info{
  margin: 0;
  padding: 10px;
}

.form-div {
  width: 100%;
}

#form-h3 {
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.input-flex {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
  border-radius: 2px;
  padding: 2%;
  margin: 10px;
  box-sizing: border-box;
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

#submit-box {
  width: 100%;
  text-align: center;
}
.checkbox-wrapper {
  padding: 14px;
  /* background-color: #FAF9F8; */
  margin: 10px;
  border-radius: 3px;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

/* .checkbox input, */
.checkbox label {
  color: rgb(48, 48, 202);
}

#form-submit {
  background-color: rgb(19, 19, 19);
  color: white;
  font-weight: 700;
}

#form-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

#form-submit:active {
  transform:scale(1.02);
}

.checkout-products-wrapper {
  padding: 1em;
}

.checkout-products-flexbox {
  display: flex;
  flex-direction: column;
}

.description-row {
  padding: 6px;
}

#form-h3 span,
.description-row {
  font-size: var(--small-font-size);
}

.checkout-img {
  width: 100%;
  height: 100%;
}

.products-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .2em;
}

.transaction-info-wrapper {
  flex: 1;
  height: 60vh;
  background-color: #fff;
}

.transaction-info-flexbox {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  padding: 1em 2em;
}

.transaction-info-flexbox 
.transaction-info-row:first-child {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

#transaction-info-bold {
  border-top: 1px solid black;
  font-weight: 700;
  font-size: var(--big-font-size);
  margin-top: 10px;
}

.transaction-info-row,
#transaction-info-bold {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

#discount {
  color: rgb(223, 23, 23);
  text-decoration: line-through;
}

#disclaimer {
  margin-top: 22px;
}

#disclaimer div {
  margin-bottom: 12px;
}

#disclaimer a {
  color: black;
}