@import url('style.css');
body {
  background-color: var(--main-background-color);
}

main {
  padding-bottom: 10vh;
}

#contact-main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2em;
}

#contact {
  padding: 3em 1em;
}

#contact a {
  color: black;
}

#contact a:hover {
  text-decoration: none;
}

#contact li {
  margin-top: .9em;
  font-size: var(--medium-font-size);
}

.contact-social-links {
  display: flex;
  align-items: center;
  gap: 1.3em;
}

.textarea-div {
  display: flex;
}

.textarea-div textarea {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 1em;
}

.aside-blog-wrapper {
  margin: auto;
  width: 80vw;
  background-color: white;
  padding: 0 3em 1em;
}



