@import url('style.css');

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#footer-nav {
  margin: 0;
  padding: 0;
}

.footer-row {
  display: flex;
}

.footer-item {
  flex: 1;
}

/* .contact,
.map, */
/* .terms,
.footer-links {
  margin-bottom: 20px;
} */
/* 
.contact-details {
  color: black;
} */
.terms a {
  color: var(--secondary-text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.map-iframe {
  width: 80%;
  height: 30vh;
  border: none;
  border-radius: 5px;
}

.terms ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.terms li {
  margin: 0 8px;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

