@import url('style.css');

.header-top-row {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 2rem;
}

.contact-info,
.search-cart {
  display: flex;
  align-items: center;
  padding: 0 30px;
  width: 50%;
}
.search-cart {
  justify-content: flex-end;
}

.contact-info a,
.search-cart a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.search-cart input {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 200px;
}

 .logo-row h1 {
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 3.6rem;
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: center;
  padding-bottom: 1.6rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 16px;
  margin: 0 10px;
  font-weight: bold;
}
