@import url('style.css');

.header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}

.contact-info,
.search-cart {
  display: flex;
  align-items: center;
  padding: 0 30px;
  width: 50%;
}
.search-cart {
  justify-content: flex-end;
}

.contact-info a,
.search-cart a {
  text-decoration: none;
  margin-right: 1em;
  /* color: black; */
  color: var(--main-text-color);
}

.search-cart input {
  padding: 6px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}

#cart-box {
  padding: .4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cart-icon {
  height: 1em;
}

 .logo-box h1 {
  display: flex;
  justify-content: center;
  font-family: var(--header-font);
  font-size: 3.6rem;
  margin: 0;
  font-weight: 100;
  color: var(--main-text-color);
}

