.productListCard-container {
  display: flex;
  justify-content: center;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 10px gray;
  padding: 10px;
  gap: 1em;
}

.productCard {
  flex: 1 1 auto;
}