@import url('style.css');

#categories-main-div {
  margin: 0 15vw;
}
main h2 {
  margin: 0;
  padding: 1em 0;
  border-top: 2px ridge rgb(0,0,0,0.8);
}

.h2-div {
  text-align: center;
}

.categories-wrapper-div {
  display: flex;
  flex-direction: column;
  background-color: var(--fourth-color);
}

.category-name-div a {
  color: black;
}

.category-card-div a {
  text-decoration: none;
}

.category-name-div h3 {
  margin: 0;
  padding: 1em;
}

.category-outer-div {
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 10px gray;
}

.category-card-div img {
  width: 100%;
}

.category-card-div {
  background-color: var(--fourth-color);
  width: 20%;
  padding-top: .8em;
  padding-bottom: 1em;
}

.cat-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-card-name p {
  
  
  font-size: var(--small-font-size);
  color: gray;
}