@import url('style.css');

.productListCard-container {
  display: flex;
  justify-content: center;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 10px gray;
  padding: 10px;
  gap: 1em;
}

#productCard {
  flex: 1 1 auto;
}




/* .product-list-card-row div:first-child,
.product-list-card-row div:last-child{
  flex: 1;
}


#productListCard {
  
} */
/* 
.scroll-icon-box-left,
.scroll-icon-box-right {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.scroll-icon-box-left img,
.scroll-icon-box-right img {
  transition: transform .3s;
}

.scroll-icon-box-right img:hover {
  transform:scale(1.15);
}
.scroll-icon-box-left img:hover {
  transform:scale(1.15);
} 

.scroll-icon-box-left {
  justify-content: flex-end;
}

.scroll-icon-box-right {
  justify-content: flex-start;
}

#productListCard {
  margin: auto;
  width: 100%;
} */