@import url('style.css');

#products-main-wrapper {
  display: flex;
  background-color: var(--secondary-background-color);
  padding: 0 1.6em 10vh;
}

#products-div {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

#products-aside {
  flex: 1;
  padding-left: 2em;
  padding-top: .6em;
  color: rgb(50, 50, 50);
}

#products-header h1 {
  letter-spacing: .04em;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 0;
}

#products-header p {
  font-size: var(--medium-font-size);
  margin: 0;
  width: 820px;
  line-height: 1.5em;
  padding-top: 1em;
  padding-bottom: 2em;
}

#products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: .3em;
  grid-row-gap: 1.4em;
}
