@import url('style.css');

.sidebar-plus-content {
  display: flex;
  padding-left: 2vw;
  padding-bottom: 200vh;
}

.hidden-div {
  flex: 1;
}

/* aside section */

.products-aside-wrapper {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  overflow-y: auto;
  margin-top: 10vh;
  
}

#products-aside {
  color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
}

#products-aside ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#products-aside li {
  padding-top: .2em;
}

#products-aside h3,a {
  margin: 0;
  color: black;
}

#products-aside h3 {
  line-height: 1em;
  padding-top: 1.4em;
  padding-bottom: .3em;
}

#products-aside a {
  font-size: var(--medium-font-size);
  letter-spacing: .015em;
  text-decoration: none;
}

#products-aside a:hover {
  text-decoration: underline;
  color: rgb(223, 23, 23);
}

.category-title {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: .02em;
}


/* categories section */
#categories-wrapper {
  flex: 3;
}

#categories-content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cat-hero-wrapper {
  height: 90vh;
}

.cat-hero-image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.cat-hero-wrapper:nth-of-type(1) .cat-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url("../images/products/coat-main.png");
}

.cat-hero-wrapper:nth-of-type(2) .cat-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), url("../images/products/lingerie-main.avif");
}

.cat-hero-wrapper:nth-of-type(3) .cat-hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7)), url("../images/products/image-grid.png");
}

.cat-hero-text {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cat-hero-text h3 {
  font-size: 42px;
  line-height: 1.15;
  letter-spacing: .03em;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.cat-hero-text button {
  outline: 0;
  display: inline-block;
  padding: 1em 2.5em;
  margin-top: 16px;
  color: var(--main-text-color);
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid var(--main-text-color);
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s, color .3s ;
}

.cat-hero-text button:hover {
  background-color: var(--main-text-color);
  color: black;
}

