@import url('style.css');

#categories-main-div {
  padding: 0 10vw 10vh;
  background-color: var(--secondary-background-color);
}

/* aside section */

#products-aside {
  flex: 1;
  padding-left: 2em;
  padding-top: .6em;
  color: rgb(50, 50, 50);
}

#products-aside ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#products-aside li {
  padding-top: .2em;
}

#products-aside h3,a {
  margin: 0;
  color: black;
}

#products-aside h3 {
  line-height: 1em;
  padding-top: 1.4em;
  padding-bottom: .3em;
}

#products-aside a {
  font-size: var(--medium-font-size);
  letter-spacing: .015em;
  text-decoration: none;
}

#products-aside a:hover {
  text-decoration: underline;
  color: rgb(223, 23, 23);
}

/* main section */

main h1 {
  margin: 0;
  padding: 2em 0;
}

.h1-div {
  text-align: center;
}
/* 
.categories-wrapper-div,
.category-card-div {
  background-color: var(--main-background-color);
} */

.categories-wrapper-div {
  display: flex;
  flex-direction: column;
}

.category-name-div a {
  color: black;
}

.category-card-div a {
  text-decoration: none;
}

.category-name-div h3 {
  margin: 0;
  padding: 1em;
}

.category-outer-div {
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 10px gray;
}

.category-card-div img {
  width: 100%;
}

.category-card-div:hover {
  transform:scale(1.015);
}

.category-card-div {
  width: 20%;
  padding-top: .8em;
  padding-bottom: 1em;
  transition: transform .3s;
}

.cat-card-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-card-name p {
  font-size: var(--small-font-size);
  color: gray;
}