@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Lora&family=Noto+Serif:wght@100;200;300;400;500&display=swap');

.auto-height-iframe {
  border: none;
  width: 100%;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

:root {
/*

--main-text-color
--secondary-text-color

 */

  --main-text-font: 'Roboto Flex', sans-serif;
  --header-font: 'Noto Serif', Arial;
  --main-text-color: white;
  --secondary-text-color: #551a8b;
  --main-background-color : #f9f7f7;
  --secondary-background-color : #fff;
  --button-background-black : rgb(19, 19, 19);
  --discount-color-red : rgb(223, 23, 23);



  --main-color: rgba(255, 255, 255, 0.6);


  /* --main-font-size: 1.2rem; */
  --small-font-size: .8em;
  --medium-font-size: 1em;
  --big-font-size: 1.2em
}

/* opći stilovi */
body {
  margin: 0 auto;
  font-family: var(--main-text-font);
}

header {
  background-color: black;
  color: var(--main-text-color);
}

footer {
  background-color: black;
  color: var(--secondary-background-color);
}

nav {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

nav a {
  color: var(--main-text-color);
  text-decoration: none;
  padding: 0 1em;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
}

main {
  height: 100%;
  background-color: var(--main-background-color);
  /* padding-bottom: 3em; */
}

main h1,
main h2 {
  font-family: var(--header-font);
}

.bold {
  font-weight: 700;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

#contact-section ul,
.contact ul,
.legal ul {
  list-style: none;
  padding: 0;
}

#checkout-title-div h2,
#cart-title-div h2 {
  margin: 0;
  text-align: center;
  padding: 1em 0;
  letter-spacing: .05em;
  font-size: 2em;
}


.submit-box {
  width: 100%;
  text-align: center;
}

.form-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form-submit:active {
  transform:scale(1.02);
}

.submit-box,
#log-in-box,
#check-out-box {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background-color: var(--button-background-black);
}

#log-in-box a,
#check-out-box a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 700;
}

#check-out-box:hover,
#log-in-box:hover {
  opacity: 0.8;
  cursor: pointer;
}

#check-out-box:active,
#log-in-box:active,
#submit-box:active {
  transform:scale(1.014);
}

#hero-wrapper {
  height: 100vh;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/Monika_Jagaciak_women_model-795490.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color);
}

.hero-text h1 {
  letter-spacing: .1em;
}

.hero-text h2 {
  letter-spacing: .15em;
  margin-bottom: 1.2em;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 1em 2.5em;
  color: var(--main-text-color);
  background-color: rgba(255, 255, 255, 0);
  border: 1.5px solid var(--main-text-color);
  border-radius: 2px;
  /* background-color: #ddd; */
  text-align: center;
  cursor: pointer;
  transition: background-color .1s;
}

.hero-text button:hover {
  background-color: #a9a9a9;
  /* color: white; */
  transition: background-color .1s;
}

#logo-text {
  font-size: 15vh;
  margin: 0;
  font-weight: 100;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* products section */
.products-section {
  width: 90%;
}

.products-section h2 {
  text-align: center;
  margin: 0;
  padding: 1em 0;
  font-size: 2.4em;
  letter-spacing: .2em;
}

.products-outer-div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.products-card {
  width: 25%;
}

.products-image {
  width: 100%
}

/* categories section */
.index-categories-section {
  width: 90%;
  background-color: #fff;
}

.index-categories-section h2 {
  margin-bottom: 0;
}

.index-categories-outer-div {
  display: flex;
  gap: .2em;
  background-color: var(--main-background-color);
  padding: 10px;
  margin-top: 8px;
  box-shadow: 0px 1px 10px gray;
}

.index-category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 12.5%;
}

.index-category-image {
  width: 100%;
}

.index-category-description {
text-align: center;
}

.index-category-description a{
  text-decoration: none;
  color: gray;
}

.index-category-description a:nth-child(1) {
  font-weight: 700;
}

.index-category-description a:nth-child(2) {
  font-weight: 300;
  font-size: var(--small-font-size);
}

.index-category-description p {
  margin: 0;
}

/* blog section */
.blog-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 60%;
}

.blog {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 30px 20px;
  gap: 24px;
}

.blog-card {
  border: 1px solid #cccccc26;
}

.blog-thumbnail-photo {
  width: 290px;
  height: 193px;
}

.blog-description {
  padding: 0 10px;
}

.blog-link {
  padding: 20px 0;
  text-align: center;
}

.blog-description h3 {
  margin: 0;
  padding: 28px 0;
  border-bottom: 1px solid #cccccc26;
}

.blog-description a,
.blog-link a {
  color: #d0cfcd;
  text-decoration: none;
}

.blog-link a {
  font-size: var(--small-font-size);
}

/* newsletter */
#newsletter {
  margin: auto;
  width: 74vw;
  background-color: var(--secondary-background-color);
  padding: 1em;
  margin: 2em 0;
  border-radius: 2px;
}

.flex-row h2 {
  letter-spacing: .1em;
}

.flex-row h3 {
  letter-spacing: .005em;
}

.newsletter-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.textarea-div {
  display: flex;
}

.textarea-div textarea {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 1em;
}


.newsletter-submit-box,
#newsletter .flex-row {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.newsletter-flex select,
.newsletter-flex input {
  border: 1px solid black;
  border-radius: 2px;
  padding: 1.4%;
  
  box-sizing: border-box;
  flex: 1;
}

.newsletter-submit-box {
  margin-top: 10px;
  width: 25%;
}

#form-submit {
  background-color: var(--button-background-black);
  color: white;
  font-weight: 700;
  padding: 1.2em;
  width: 100%;
}

#form-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

#form-submit:active {
  transform:scale(1.02);
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
  margin: 10px 0;
}

.checkbox-info {
  justify-content: center;
}
