<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Style|Blog aside</title>
  <link rel="stylesheet" href="../css/asideBlog.css">
</head>
<body>
  
        <div class="aside-blog-wrapper">
          <h3>Latest news</h3>
          <div class="blog-flexbox">
            <article>
              <div class="blogCard"></div>
              <!-- <iframe src="blogCard.html" width="100%" class="auto-height-iframe" frameborder="0"></iframe> -->
            </article>
            <article>
              <div class="blogCard"></div>
              <!-- <iframe src="blogCard.html" width="100%" class="auto-height-iframe" frameborder="0"></iframe> -->
            </article>
            <article>
              <div class="blogCard"></div>
              <!-- <iframe src="blogCard.html" width="100%" class="auto-height-iframe" frameborder="0"></iframe> -->
            </article>
          </div>
        </div>
  
  <script src="../js/javascript.js"></script>
</body>
</html>