<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Style|Blog Card/landscape</title>
  <link rel="stylesheet" href="../css/blogCardLandscape.css">
</head>
<body>
  
    <div class="article">
      <a href="../blogDetail.html" target="_parent">
        <div class="blog-card">
          <div class="left-blog-card-div">
            <img src="../images/blog/blog.avif" alt="" class="blog-img">
          </div>
          <div id="right-blog-card-div">
            <h3>
              Unveiling the Unseen: The Fashion-Tech Revolution
            </h3>
            <p>
              Dive into the future with our exclusive coverage of the fashion-tech revolution. Discover the unexpected, embrace the extraordinary, and join us on the front lines of innovation.
            </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  
</body>
</html>