<div class="footer-content">
    <div class="footer-row map-iframe-wrapper">
            <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.723030569869!2d15.905297276188769!3d43.716304671099266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13352596fefd40c5%3A0xdf9d5af364c27a35!2sCentar%20za%20nove%20tehnologije%20i%20poduzetni%C5%A1tvo%20Trokut!5e0!3m2!1shr!2shr!4v1704893982887!5m2!1shr!2shr" frameborder="0" allowfullscreen class="map-iframe">
            </iframe>
    </div>

    <div class="footer-row">
        <div class="footer-item contact">
            <adresses class="adresses">
                <address class="bold">FASHION STORE d.o.o.</address>
                <address>+385(0)22/ 123-4567</address>
                <address>fashion.store@info.org</address>
                <address>123 Street, City, Country</address>
                <address>OIB: 01010101010</address>
              </adresses>
        </div>
        <div class="footer-item footer-logo">
            <div class="logo-box">
                <div id="logo">
                    <a href="index.html">
                        <img src="/images/wallpaper/logo.avif" alt="Fashion Store Logo">
                    </a>
                </div> 
            </div>
            <div class="footer-row footer-social-links">
                <button class="facebook-button">
                    <a href="https://web.facebook.com/" target="_blank">
                        <img src="../images/icons/facebook-f-white.svg" alt="Facebook icon">
                    </a>
                    <div class="tooltip">Facebook</div>
                </button>
                <button class="instagram-button">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="../images/icons/instagram-white.svg" alt="Instagram icon">
                    </a>
                    <div class="tooltip">Instagram</div>
                </button>
                <button class="tiktok-button">
                    <a href="https://www.tiktok.com" target="_blank">
                        <img src="../images/icons/tiktok-white.svg" alt="TikTok icon">
                    </a>
                    <div class="tooltip">TikTok</div>
                </button>
                <button class="linkedin-button">
                    <a href="https://www.linkedin.com" target="_blank">
                        <img src="../images/icons/linkedin-in-white.svg" alt="Linkedin icon">
                    </a>
                    <div class="tooltip">LinkedIn</div>
                </button>
                <button class="twitter-button">
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="../images/icons/twitter-white.svg" alt="Twitter icon">
                    </a>
                    <div class="tooltip">Twitter</div>
                </button>

            </div>
            <nav class="footer-row footer-nav">
                <div>
                    <a href="../index.html" target="_parent">
                        HOME
                    </a>
                </div>
                <div>
                    <a href="../products.html" target="_parent">
                        SHOP
                    </a>
                </div>
                <div>
                    <a href="../contact.html" target="_parent">
                        CONTACT
                    </a>
                </div>
                <div>
                    <a href="../about.html" target="_parent">
                        ABOUT
                    </a>
                </div>
                <div>
                    <a href="../blog.html" target="_parent">
                        NEWSROOM
                    </a>
                </div>
            </nav>
            <div class="signature">
                <img src="../images/icons/copyright-regular-white.svg" alt="Copywright icon">
                    2024 FASHION STORE; by Martin Bolanča
            </div>
        </div>
        <div class="footer-item legal">
            <div class="legal-links">
                <a href="../legal/privacy.html" target="_parent">Privacy Policy</a>
        
                <a href="../legal/cookies.html" target="_parent">Cookies Policy</a>
        
                <a href="../legal/termsAndConditions.html" target="_parent">Terms & Conditions</a>
        
                <a href="../legal/shippingPolicy.html" target="_parent">Shipping Policy</a>
        
                <a href="../legal/returnPolicy.html" target="_parent">Return Policy</a>
          </div>
    </div>
</div>
