<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/header.css">
</head>
<body>
  <object>
    <div class="header-top-row">
      <div class="contact-info">
        <a href="tel:+123456789" target="_blank">
          +385(0)22/ 123 - 4567
        </a>
        <a href="mailto:info@example.com" target="_blank">
          new.style@info.org
        </a>
        <a href="https://web.facebook.com/" target="_blank">
          <img src="../images/icons/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../images/icons/instagram.svg" alt="instagram">
        </a>
        <a href="https://www.tiktok.com" target="_blank">
          <img src="../images/icons/tiktok.svg" alt="tiktok">
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <img src="../images/icons/linkedin.svg" alt="linkedin">
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <img src="../images/icons/twitter.svg" alt="twitter">
        </a>
      </div>
      <div class="search-cart">
        <input type="text" placeholder="Search...">
        <a href="#" target="_parent">
          <img src="../images/icons/cart-shopping-solid.svg" alt="Cart">
        </a>
      </div>
    </div>
    <div class="logo-row">
      <h1>New Style</h1>
    </div>
    </div>
    <div class="header-bottom-row">
      <nav>
        <a href="../index.html" target="_parent">Home</a>
        <a href="#" target="_parent">Shop</a>
        <a href="../productCategories.html" target="_parent">Categories</a>
        <a href="#" target="_parent">Contact</a>
        <a href="#" target="_parent">About</a>
        <a href="#" target="_parent">FAQ</a>
      </nav>
    </div>
  </object>
</body>
</html>