  <div class="header-top-row">
    <div class="contact-info">
      <a href="tel:+385221234567" target="_blank">
        <img src="/images/icons/phone-solid-white.svg" alt="">
      </a>
      <a href="mailto:fashion.store@info.org" target="_blank">
        <img src="/images/icons/envelope-solid-white.svg" alt="">
      </a>
      <a href="https://web.facebook.com/" target="_blank">
        <img src="../images/icons/facebook-f-white.svg" alt="facebook">
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../images/icons/instagram-white.svg" alt="instagram">
      </a>
      <a href="https://www.tiktok.com" target="_blank">
        <img src="../images/icons/tiktok-white.svg" alt="tiktok">
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="../images/icons/linkedin-in-white.svg" alt="linkedin">
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="../images/icons/twitter-white.svg" alt="twitter">
      </a>
    </div>
    <div class="logo-box">
      <div id="logo"><a href="index.html"><img src="/images/wallpaper/logo.avif" alt=""></a></div> 
    </div>

    <div class="search-cart">
      <input type="text" placeholder="Search...">
      <a href="../cart.html" target="_parent">
        <div id="cart-box">
          <img src="../images/icons/shopping-bag-24.png" alt="Cart" id="cart-icon">
        </div>
      </a>
    </div>
  </div>
  
  <nav>
    <a href="../index.html" target="_parent">HOME</a>
    <a href="../products.html" target="_parent">SHOP</a>
    <!-- <a href="../productCategories.html" target="_parent">CATEGORIES</a> -->
    <a href="../contact.html" target="_parent">CONTACT</a>
    <a href="../about.html" target="_parent">ABOUT</a>
    <a href="../blog.html" target="_parent">NEWSROOM</a>
  </nav>


