<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Style|product list card</title>
  <link rel="stylesheet" href="../css/productListCard.css">
</head>
<body>
  <main id="main-wrapper">
    
      <div class="index-categories-outer-div">
        <!-- <div class="content-wrapper"> -->
          <div class="index-category-card">
            <a href="">
              <img src="../images/categories/women-dress.avif" alt="" class="index-category-image">
            </a>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Dresses</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/women-plus.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Plus sizes</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/mens-hoodies.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Men</p>
              </a>
              <a href="">
                <p>Hoodie</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/women-tops.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Tops</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/women-pants.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Pants</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/women-pants.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Pants</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/women-pants.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Pants</p>
              </a>
            </div>
          </div>
          <div class="index-category-card">
            <div>
              <img src="../images/categories/women-pants.avif" alt=""
              class="index-category-image">
            </div>
            <div class="index-category-description">
              <a href="">
                <p>Women</p>
              </a>
              <a href="">
                <p>Pants</p>
              </a>
            </div>
          </div>
        <!-- </div> -->
      </div>
    
  </main>
</body>
</html>