
<div id="categories-wrapper">
  <!-- <h2 class="category-title">Latest Selections</h2> -->
  <div id="categories-content">
    <section class="cat-hero-wrapper">
      <div class="cat-hero-image">
        <div class="cat-hero-text">
          <h3>New Arrivals</h3>
          <a href="products.html">
          <button>SHOP NOW</button>
          </a>
        </div>
      </div>
    </section>

    <!-- productListCard -->
    <article id="productListCard-article">
      <div class="product-list-card-row">
        <div class="scroll-icon-box-left">
          <img src="/images/icons/211689_left_arrow_icon.png" alt="">
        </div>

        <!-- partials -->
        <div id="productListCard"></div>

        <div class="scroll-icon-box-right">
          <img src="/images/icons/211607_right_arrow_icon.png" alt="">
        </div>
      </div>
    </article>
    
    <section class="cat-hero-wrapper">
      <div class="cat-hero-image">
        <div class="cat-hero-text">
          <h3>Valentines Special Offer</h3>
          <a href="products.html">
          <button>SHOP NOW</button>
          </a>
        </div>
      </div>
    </section>

    <section class="cat-hero-wrapper">
      <div class="cat-hero-image">
        <div class="cat-hero-text">
          <h3>Sale</h3>
          <a href="products.html">
          <button>SHOP NOW</button>
          </a>
        </div>
      </div>
    </section>

  </div>
</div>  
