<div class="product-card">
  <div class="product-img-box">
    <a href="../productDetail.html" target="_parent">
      <img src="../images/products//women-trenchcoat.webp" alt="Model wearing product" class="product-image">
    </a>
    <div class="heart-container">
      <input type="checkbox">
    </div>
  </div>
  <div class="product-description">
      <a href="../productCategories.html">
        <div class="product-name">
        Women Trench Coat
        </div>
      </a>
    <div class="product-price">99.99 &euro;</div>
    <div class="product-category">New Arrival</div>
  </div>
</div>